div.footer {
  background-color: #268ffc;
  padding-block: 50px;

  div.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    
    div.left {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      p.logo {
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
      }

      p.email {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
      }
      
      ul {
        list-style: none;
        margin-block: 10px;
        
        li {
          display: inline-block;
          color: #ffffff;
          margin-inline: 10px;
          cursor: pointer;
          
          &:hover {
            opacity: 0.8;
          }
          
          &:active {
            filter: brightness(0.9);
          }
        }
      }
    }
    
    div.right {
      display: flex;
      align-items: center;
      
      ul {
        list-style: none;
        margin-right: 100px;
        
        li {
          color: #ffffff;
          font-size: 15px;
          line-height: 30px;
          user-select: none;
          
          i {
            font-size: 12px;
            margin-right: 4px;
          }
          
          &:first-of-type {
            font-size: 16px;
            font-weight: 600;
          }
          
          &:hover:not(:first-of-type) {
            opacity: 0.8;
            cursor: pointer;
          }
          
          &:active:not(:first-of-type) {
            filter: brightness(0.9);
          }
        }
      }
    }
  }

  p.copyright {
    font-size: 12px;
    color: #ffffffbb;
    margin-top: 20px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 800px) {
  div.footer {
    padding-block: 50px;
  
    div.grid {
      display: block;

      div.right {
        margin-block: 40px;

        ul {
          margin-inline: 40px;
          
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}