div.githubTab {
  padding: 30px;
  background-color: #1c1f25;

  p.header {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
  }

  p.desc {
    color: #869ba5;
    font-size: 18px;
    margin-top: 20px;
    width: 80%;
  }

  p.button {
    display: inline-block;
    margin-top: 50px;
    background-color: #268ffc;
    padding: 10px 14px;
    border: 1px solid #268ffc;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    box-shadow: 1px 3px 10px #28517b;
    user-select: none;
    cursor: pointer;

    i {
      margin-right: 4px;
    }

    &:hover {
      opacity: 0.8;
      box-shadow: 5px 5px 0px -1px #268ffc;
      border: 1px solid #ffffff;
      background-color: #1c1f25;
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}