@font-face {
  font-family: "Cera Pro";
  font-weight: 400;
  src: url(/fonts/CeraProRegular.otf);
}

@font-face {
  font-family: "Cera Pro";
  font-weight: 500;
  src: url(/fonts/CeraProMedium.otf);
}

@font-face {
  font-family: "Cera Pro";
  font-weight: 600;
  src: url(/fonts/CeraProBold.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cera Pro";
  scroll-behavior: smooth;
}

html {
  background-color: rgb(33, 36, 41) !important;
}

div.radial-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 200vw;
  height: 200vh;
  mix-blend-mode: color;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #268dfc4c 0,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translate(-50vw, -100vh);
  z-index: -1;
}