@font-face {
  font-family: 'Cera Pro';
  font-weight: 400;
  src: url(/assets/fonts/CeraProRegular.otf);
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 500;
  src: url(/assets/fonts/CeraProMedium.otf);
}

@font-face {
  font-family: 'Cera Pro';
  font-weight: 600;
  src: url(/assets/fonts/CeraProBold.otf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Cera Pro' !important;
  scroll-behavior: smooth;
}

/* Description style adjustments */
/* Banner */
section#banner p.telegram {
  display: inline-block;
  font-size: 12px;
  box-shadow: inset 0 0 0 2px rgb(255 255 255 / 13%);
  border-radius: 5px;
  padding: 5px 15px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

section#banner p.telegram:hover {
  background-color: rgba(255, 255, 255, 0.025);
}

/* Wrapper */
section.wrapper ul {
  list-style: none;
  text-align: left;
}

section.wrapper ul li {
  font-weight: 400;
  color: #dddddd;
  margin-block: 10px;
}

section.wrapper ul li span {
  font-weight: 600;
  color: #ffffff;
}

section#four ul {
  list-style: circle;
}