div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;

  div.left {

    p.logo {
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
    }

    p.desc {
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      text-align: right;
    }
  }

  div.burger {
    display: none;
  }

  ul.mobileMenu {
    display: none;
  }

  ul.desktopMenu {
    list-style: none;

    li {
      display: inline-block;
      margin-inline: 20px;
      color: #dddddd;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      user-select: none;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }

      &:last-of-type {
        color: #ffffff;
        background-color: #268ffc;
        padding: 10px 16px;
        border: 1px solid #268ffc;
        border-radius: 4px;
        box-shadow: 1px 3px 10px #28517b;

        &:hover {
          opacity: 0.8;
          box-shadow: 5px 5px 0px -1px #268ffc;
          border: 1px solid #ffffff;
          background-color: #1c1f25;
        }
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: 680px) {
  div.header {
    padding: 20px 20px;
    
    div.burger {
      display: block;

      i {
        color: #ffffff;
        font-size: 24px;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        filter: brightness(0.9);
      }
    }

    ul.desktopMenu {
      display: none;
    }

    ul.mobileMenu {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      text-align: right;
      list-style: none;
      background-color: #000000e8;
      width: 100%;
      height: 100vh;
      padding: 0px 40px;

      li {
        margin-block: 30px;
        color: #dddddd;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        user-select: none;
  
        &:hover {
          opacity: 0.8;
        }
  
        &:active {
          filter: brightness(0.9);
        }

        &:first-of-type {
          position: absolute;
          right: 10px;
          top: -20px;
          font-size: 30px;
          padding: 6px 20px;
        }
  
        &:last-of-type {
          color: #ffffff;
          background-color: #268ffc;
          padding: 10px 16px;
          border: 1px solid #268ffc;
          border-radius: 4px;
          box-shadow: 1px 3px 10px #28517b;
          width: fit-content;
          margin-inline: auto;

          &:hover {
            opacity: 0.8;
            box-shadow: 5px 5px 0px -1px #268ffc;
            border: 1px solid #ffffff;
            background-color: #1c1f25;
          }
        }
      }
    }
  }
}