div.home {

  div.waves {
    aspect-ratio: 500/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  div.wavesTab { background-image: url('/breakers/waves1.svg'); }

  div.wavesPlan { background-image: url('/breakers/waves3.svg'); }

  div.wavesSwap { background-image: url('/breakers/waves4.svg'); }

  div.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #f6f7f9;
    color: #212121;

    p.logo {
      font-size: 30px;
      font-weight: 600;
    }

    p.motto {
      font-size: 18px;
      text-align: center;
    }

    div.buttons {
      // display: flex;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 30px;

      div.button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: #268ffc;
        color: #ffffff;
        box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
        padding: 12px 22px;
        border-radius: 50px;
        margin-inline: 10px;
        font-size: 12px;
        font-weight: 500;
        user-select: none;
        cursor: pointer;

        i {
          margin-right: 10px;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }
  }

  div.project {
    color: #212121;

    p.header {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      margin-left: 20px;

      i {
        font-size: 14px;
        margin-right: 10px;
      }
    }

    div.card {
      display: grid;
      grid-template-columns: 30% 70%;
      margin: 40px 40px 0 40px;
      background-color: #f6f7f9;
      box-shadow: rgb(210 210 210 / 40%) 0px -1px 0px 0px inset;
      // margin: 10px 10px 0 0;
      padding: 12px 20px;
      border-radius: 8px;

      div.title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        p.title {
          display: flex;
          align-items: center;
          font-size: 22px;
          font-weight: 500;
        }
      
        img {
          width: 40px;
          margin-top: 20px;  
          filter: invert(10) sepia(10) saturate(100) hue-rotate(175deg);
        }
      }

      ul {
        list-style: circle;
        margin: 0 0 2em 0;
        padding-left: 1em;

        li {
          margin-block: 10px;

          span {
            color: #268ffc;
          }
        }
      }
    }
  }

  div.plan {
    color: #212121;
    background-color: #268ffc;

    p.header {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      color: #ffffff;
      margin-left: 20px;
      margin-bottom: 10px;

      i {
        font-size: 16px;
        margin-right: 10px;
      }
    }

    div.grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      div.card {
        background-color: #f6f7f9;
        box-shadow: rgb(210 210 210 / 40%) 0px -1px 0px 0px inset;
        margin: 10px;
        padding: 12px 20px;
        border-radius: 8px;

        p.month {
          font-weight: 500;
          border-bottom: 2px solid #e6e8e9;
          padding-bottom: 6px;
        }

        ul {
          list-style: circle;
          margin: 0 0 2em 0;
          padding-left: 1em;

          li {
            margin-top: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }

  div.swapShowcase {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
    background-color: #000000;
    padding-bottom: 100px;

    div.img {
      background-color: #171b1f;
      padding: 15px 10px;
      border-radius: 24px;
      // box-shadow: 0 2px 12px -8px rgb(25 19 38 / 10%), 0 1px 1px rgb(25 19 38 / 5%);
      box-shadow: #4b608a 4px 4px 0px 0px;

      img {
        width: 100%;
      }
    }

    div.right {
      text-align: right;
      padding: 20px 40px 0 0;
      margin-top: 30px;

      p.header {
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
      }

      p.description {
        color: #c2c3c3;
        font-size: 15px;
      }

      div.protocols {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;

        p {
          font-weight: 500;
          font-size: 15px;
          color: #77b9ff;
        }

        i {
          color: #77b9ff;
        }
        
        img {
          margin-inline: 10px;
          width: 30px;
          border-radius: 50%;
          padding: 2px;
          background: rgb(38,143,252);
          background: linear-gradient(0deg, rgba(38,143,252,1) 0%, rgba(0,0,0,1) 100%);
          
          &:first-of-type,
          &:last-of-type {
            background: transparent;
          }
        }
      }

      div.button {
        display: flex;
        align-items: center;
        width: fit-content;
        border: 0;
        background-color: #268ffc;
        color: #ffffff;
        box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
        padding: 12px 22px;
        border-radius: 50px;
        margin-top: 20px;
        margin-left: auto;
        font-size: 12px;
        font-weight: 500;
        user-select: none;
        cursor: pointer;

        i {
          margin-right: 10px;
        }

        &:hover {
          opacity: 0.8;
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }
  }
}

// Smaller desktops
@media screen and (max-width: 1100px) {
  div.home {

    div.plan {

      div.grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// Tablets
@media screen and (max-width: 900px) {
  div.home {

    div.project {

      div.card {
        display: block;

        div.title {
          margin-top: 10px;

          img {
            margin-block: 10px 20px;
            width: 30px;
          }
        }
      }
    }

    div.swapShowcase {
      grid-template-columns: 40% 60%;

      div.right {
        padding-inline: 10px 5px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  div.home {

    div.main {

      div.buttons {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;

        div.button {
          width: 30%;
          flex-grow: 1;
          box-sizing: border-box;
          padding: 12px 22px;
          margin: 2px;
          font-size: 10px;
          text-align: center;
          
          i {
            margin-right: 10px;
          }

          &:last-of-type {
            margin: 10px 5px 0 5px;
            background-color: #ffffff;
            color: #268ffc;
            box-shadow: rgb(139 139 160 / 40%) 0px -1px 0px 0px inset;
          }
        }
      }
    }

    div.plan {

      div.grid {
        display: block;
      }
    }

    div.swapShowcase {
      display: block;
  
      div.right {
  
        p.header {
          font-size: 22px;
        }
  
        p.description {
          font-size: 14px;
        }
  
        div.protocols {
  
          p {
            font-size: 14px;
          }
          
          i {
            font-size: 12px;
          }

          img {
            width: 24px;
          }
        }
      }
    }
  }
}

// Most mobile devices
@media screen and (max-width: 500px) {
  div.home {

    div.main {

      p.logo {
        font-size: 26px;
      }
      
      p.motto {
        font-size: 14px;
        text-align: center;
      }
    }

    div.project {

      div.card {
        margin: 10px;
      }
    }  

    div.plan {
    
      p.header {
        padding-top: 20px;
      }
    }

    div.swapShowcase {
      padding-bottom: 50px;
    }
  }
}