div.home {

  div.tab {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 50px;

    div.left {
      display: flex;
      justify-content: center;
      flex-direction: column;

      p.welcome {
        color: #ffffff;
        font-size: 34px;
        font-weight: 600;
      }
      
      p.motto {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
      }
    }

    img {
      width: 100%;
    }
  }

  div.cardButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
  }

  div.card {
    background-color: #212429;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 0px -1px #00bfa6;
    margin: 10px;
    padding: 20px;
    user-select: none;
    cursor: pointer;

    p.title {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
    }

    p.description {
      color: #dedede;
      font-size: 15px;
      margin-top: 15px;
    }

    p.soon {
      color: #cccccc;
      font-size: 12px;
      margin-top: 8px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}

@media screen and (max-width: 900px) {
  div.home {
    
    div.cardButtons {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 680px) {
  div.home {
    
    div.tab {
      display: grid;
      grid-template-columns: 60% 40%;
      padding: 14px;
      margin-top: 20px;

      div.left {

        p.welcome {
          font-size: 27px;
        }
        
        p.motto {
          font-size: 14px;
        }
      }

      img {

      }
    }

    div.cardButtons {
      display: block;
    }
  }
}