div.notice {
  padding-top: 20px;
  text-align: center;
  background-color: #268ffc;
  color: #ffffff;
  z-index: 1;

  div.waves {
    // aspect-ratio: 500/100;
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../public/breakers/waves2.svg);
    background-size: cover;
  }

  p.top {
    font-weight: 500;
    font-size: 16px;
  }

  p.timer {
    font-weight: 600;
    font-size: 18px;
  }

  div.button {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 0;
    color: #268ffc;
    background-color: #ffffff;
    box-shadow: rgb(123 123 128 / 40%) 0px -1px 0px 0px inset;
    padding: 8px 18px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;

    i {
      margin-right: 5px;
      font-size: 9px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}